<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<div class="row">
   <div class="col-md-6 col-sm-12 col-xs-12">
     <div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3">
	  <%= f.label :email %>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-9">
	  <%= f.email_field :email, autofocus: true %>
	</div>
     </div>
     <div class="row">
	<div class="col-md-3 col-sm-3 col-xs-3">
	  <%= f.label :password %>
	</div>
	<div class="col-md-9 col-sm-9 col-xs-9">
	    <%= f.password_field :password, autocomplete: "off" %>
	</div>
     </div>
     <div class="row">
	
	  <% if devise_mapping.rememberable? -%>
	    <div class="col-md-3 col-xm-3 col-xs-3"><%= f.label :remember_me %></div>
		<div class="col-md-3 col-xm-3 col-xs-3"><%= f.check_box :remember_me %></div>
	  <% end -%>
   </div>
   <div class="row">
	<div class="col-md-2 hidden-sm hidden-xs"></div>
	<div class="col-md-7 col-sm-9 col-xs-12">
		<%= f.submit "Sign in", as: :button, class: "btn btn-large btn-success" %>
	</div>
   </div>
</div>

  
<% end %>


