<% provide(:title, "Products") %>

<%
	keywords %q(seafood, seafood distribution)
%>


	<img class="hidden-xs" id="sill5" src="assets/fish2sill.png">
	<img class="hidden-xs" id="sill9" src="assets/bassill.png">

<div id="susnav"><%= render 'layouts/navbar2' %></div>
<div class="container-fluid" id="productbackground"">
	<div class="row">
		<section id="productpicture">
		
			<div class="container sections">
				<h2 class="sectiontitlepage">Products</h2>
			</div>
		</section>
	</div>
<% if user_signed_in? %>
<div class="container">
	<%= link_to 'New Product', new_product_path, class: "btn btn-lg btn-seafood" %>
	<p class="notice"><%= notice %></p>
 	<p class="alert"><%= alert %></p>
</div>
<% end %>

	<div id="productcontainer">
	 
		<div class="productcategory row">
		 <h2 class="sectionproduct">Seasonal</h2>
			<% if @products.any? %>
				<% @products.each do |product| %>
				 <% if product.seasonal? %>
				  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 products">
				    <div class="row productrow"><img class="productimage" src='<%= product.image_url(:thumb) %>'></div>
						<h3 style="text-align:center"><%= product.name %></h3>
						<% if user_signed_in? %>
							<div class="row modify">
								<div class="col-md-6 col-sm-6 col-xs-6"><%= link_to 'Edit', edit_product_path(product), class: "btn btn-lg btn-seafood" %></div>
								<div class="col-md-6 col-sm-6 col-xs-6"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-seafood" %></div>
							</div>
						<% end %>
				  </div>
				 <% end %>
				<% end %>
			<% else %>
				<h2 style="text-align:center">We have no seasonal listings at the moment. Please try again later!</h2>
			<% end %>
		 </div>
		 <div class="productcategory row">
		  <h2 class="sectionproduct">Year-round</h2>
				<% if @products.any? %>
				 <% @products.each do |product| %>
				  <% if product.seasonal == false %>
				   <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 products">
				    <div class="row productrow"><img class="productimage" src='<%= product.image_url(:thumb) %>'></div>
						<h3 style="text-align:center"><%= product.name %></h3>
						<% if user_signed_in? %>
							<div class="row modify">
							<div class="col-md-6 col-sm-6 col-xs-6"><%= link_to 'Edit', edit_product_path(product), class: "btn btn-lg btn-seafood" %></div>
							<div class="col-md-6 col-sm-6 col-xs-6"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-lg btn-seafood" %></div>
							</div>
						<% end %>
				  </div>
				<% end %>
			 <% end %>
			<% else %>
				<h2 style="text-align:center">We have no year-round seafood listings at the moment. Please try again later!</h2>
			<% end %>
		</div>

		<div class="footerduct">
			<div class="col-md-6 col-sm-12 col-xs-12" id="footerduct">
			© 2014 George's Seafood, Inc.
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".productimage").each(function() {
			var str = $(this).attr('src');
			var strarray = str.split("/");
			var strid = strarray[4];
			var strpath = (strarray[5].split("thumb_"))[1];
			$(this).wrap($("<a>" ,{
			href: "/uploads/product/image/" + strid + "/" + strpath,
			class: "productlink"
			}));
		});
	$(".productlink").fancybox();
	});
</script>
